<div class="book row mt-4 ml-0.8 mr-0.5 mb-5">
    <div class="col-auto d-none d-lg-block">
        <img src="{{book_cover}}" alt="">
    </div>
    <div class="resultBox col-md-8">
        <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="resultBoxContent col">
                <h3 class="mb-0" id="bookTitle">{{title}}</h3>
                <strong class="d-inline-block mb-2 textInfo" id="Genre">{{genre}}</strong>
                {{!-- <div class="mb-1 textMutedChange" id="date">1999</div> --}}
                <p class="mb-auto" id="bookDescription">{{description}}</p>
                <div class="footer d-flex justify-content-end">
                    <button class="btn btn-danger m-2" onclick="deleteBook({{id}})">Delete</button>
                    <button class="btn btn-warning m-2" onclick="deleteBook({{id}})">Donated</button>
                </div>
            </div>
        </div>
    </div>
</div>