<div class="container mt-3">
    <div class="row">
        <div class="col-auto">
            <img src="{{book.book_cover}}" alt="{{book.title}}">
        </div>
        <div class="col-8 shadow-sm">
            <h4>{{book.title}}</h4>
            <p>{{book.description}}</p>
            <div class="mt-3 d-flex justify-content-end">
                <a href="/request_book/{{book.id}}" class="btn btn-primary">Request this book from its owner</a>
                <a href="/browse" class="btn btn-secondary ml-2">Go Back</a>
            </div>
        </div>
    </div>
</div>