<style>
    .coverPg {
        position: relative;
    }

    #search-welcome {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        height: 300px;
    }

    #searchImg-container {
        width: 100%;
        margin: 0;
        height: 300px !important;
        opacity: 0.5 !important;
        background-image: url(/assets/bgimg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .welcome {
        align-items: center;
    }

    #searchBox {
        {{!-- background: rgba(0, 0, 0, 0.2); --}}
        padding: 0.1em;
        font-weight: bold;
    }

    #searchBox button, #searchBox a {
        background-color: '#FFD652' !important;
    }


</style>
<div class="coverPg">
    <div id="search-section">
        <div id="searchImg-container" class="landing-img"></div>
        <div id="search-welcome">
            <div class="container welcome">
                <div class="text-center">
                    <h2 class="mb-3">Search your book ...</h2>
                </div>
                <div id="searchBox">
                    <div class="form-inline">
                        <input id="searchField" class="form-control mr-sm-2" type="search"
                            placeholder="Search for books..." aria-label="Search" style="width:90%;">
                        <div class="input-append">
                            <button id="searchButton" class="btn btn-success my-2" type="submit">Search</button>
                            {{#if search}}
                            <a href="/browse" class="btn btn-success ml-2 my-2" type="submit">Reset</a>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="genre" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Genre</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="title" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Title</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="author" value="option3">
                        <label class="form-check-label" for="inlineRadio3">Author</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="main" class="container">

    {{#each books}}
    <div class="result-list row mt-4 ml-0.8 mr-0.5">
        <div class="col-auto d-none d-lg-block">
            <img src="{{book_cover}}" alt="">
            {{!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"

                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">bookPhoto</text>
            </svg> --}}
        </div>
        <div class="resultBox col-md-8">
            <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="resultBoxContent col">
                    <h3 class="mb-0" id="bookTitle">{{title}}</h3>
                    <strong class="d-inline-block mb-2 textInfo" id="Genre">{{genre}}</strong>
                    {{!-- <div class="mb-1 textMutedChange" id="date">1999</div> --}}
                    <p class="mb-auto" id="bookDescription">{{description}}
                    </p>
                    <a href="/request_book/{{id}}" class="stretched-link">Contact to Seller</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div id="footer"></div>

<script>
    document.querySelector("#searchButton").addEventListener("click", async function () {
        let searchType = "title";
        if (document.querySelector("#genre").checked) {
            searchType = "genre"
        } else if (document.querySelector("#title").checked) {
            searchType = "title"
        } else if (document.querySelector("#author").checked) {
            searchType = "author"
        }

        let searchText = (document.querySelector("#searchField").value).trim()

        if (searchText !== "") {
            window.location.href = `/browse/${searchType}/${searchText}`
        }


    })
</script>