<h3>Messages</h3>

<div id="messageContainer">
    {{#if messages}}
    {{#each messages}}
    <hr>
    <p>From: {{sender}}</p>
    <p>Regarding book: {{bookTitle}}</p>
    <p>{{message}}</p>
    <a href="/messagechain/{{senderID}}">Reply</a>
    {{/each}}
    {{else}}
    <p>You have no messages</p>
    {{/if}}
</div>