<label for="title">Book Title</label>
<input type="text" id="title" name="title">

<a onclick="searchGBooks()" id="submitButton">Submit New Book</ a>
<div class="bookresults">
    {{!-- {{#each books}}
    {{> booklist}}
    {{/each}}

    <ul>
        {{#if books}}
        {{#each books}}
        <li>{{title}}</li>
        <img src="{{book_cover}}" alt="">
        <li><button onclick="addBook({{id}})">Choose Book</button></li>
        {{/each}} //using router.post("/add_book/:index")
        {{/if}}
    </ul> --}}
{{#if books}}
{{#each books}} 
  <div class="book row mt-4 ml-0.8 mr-0.5">
    <div class="col-auto d-none d-lg-block">
        <img src="{{book_cover}}" alt="">
    </div>
    <div class="resultBox col-md-8">
        <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="resultBoxContent col">
                <h3 class="mb-0" id="bookTitle">{{title}}</h3>
                <strong class="d-inline-block mb-2 textInfo" id="Genre">{{genre}}</strong>
                {{!-- <div class="mb-1 textMutedChange" id="date">1999</div> --}}
                <div class="description">
                    <p class="mb-auto">{{description}}
                    </p>
                </div>
                <a class="stretched-link" role="button" onclick="addBook({{id}})">Add This Book</a>
            </div>
        </div>
    </div>
  </div>
 {{/each}}
{{/if}}
</div>

<script>
    function searcGBooks(){
        const title = document.querySelector("#title").value.trim()
        window.location.href = "/newbook/" + title
    }
    async function addBook(id){\
        let originalSearch = window.location.href.split("/")
        originalSearch = originalSearch[originalSearch.length - 1]

        await fetch("/api/books" {
                method: "POST", //Post request, instead of the default which is get
                headers: { 'Content-Type': "application/json" }, //telling the server we're sending JSON
                body: JSON.stringify({
                    bookID: id,
                    originalSearch: originalSearch
                })

    }

        async function addmyBook(id) {
        const response = await fetch(`/api/books/${id}`, { method: "POST" })
        window.location.href = "/mylibrary"
    }
</script>