<div class="container mt-2">
<label for="title">Book Title</label>
<input type="text" id="title" name="title">

{{!-- <a onclick="searchGBooks()" id="submitButton">Submit New Book</ a> --}}


    <div class="input-append">
        <button id="searchButton" class="btn btn-success my-2" type="submit">Search</button>
        {{#if search}}
        <a href="/newBook" class="btn btn-success ml-2 my-2" type="submit">Reset</a>
        {{/if}}
    </div>

    <div class="bookresults container">
        {{#if books}}
        {{#each books}}
        <div class="book row mt-4 ml-0.8 mr-0.5">
            <div class="col-auto d-none d-lg-block">
                <img src="{{book_cover}}" alt="bookCover">
            </div>
            <div class="resultBox col-md-8">
                <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="resultBoxContent col">
                        <h3 class="mb-0" id="bookTitle">{{title}}</h3>
                        <strong class="d-inline-block mb-2 textInfo" id="Genre">{{genre}}</strong>
                        <p>{{year}}</p>
                        <div class="description">
                            <p class="mb-auto" id="bookDescription">{{description}}</p>
                        </div>
                        <a class="stretched-link" role="button" onclick="addBook({{id}})">Add This Book</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>
    <script>
 
        async function addBook(id) {
            let originalSearch = window.location.href.split("/")
            originalSearch = originalSearch[originalSearch.length - 1]

            await fetch("/api/books", {
                method: "POST",
                headers: { 'Content-Type': "application/json" },
                body: JSON.stringify({

                    id: id,
                    originalSearch: originalSearch
                })
            })
            window.location.href = "/mylibrary"
        }

        document.querySelector("#searchButton").addEventListener("click", async function () {
            console.log("Search function ran")
            let searchText = (document.querySelector("#title").value).trim()
            if (searchText !== "") {
                window.location.href = `/newbook/${searchText.split(" ").join("+")}`
            }
        })
        function conditionalTruncate(string) {
                if (string.length > 300) {
                    return string.trim().substring(0, 300) + "...";
                }
                return string;
        }

    </script>